#extend-settings .form-table td {
    padding:5px 10px;
    vertical-align: middle;
}

#extend-settings .form-table th {
    padding:5px 10px 5px 0;
    vertical-align: middle;

}

#extend-settings .form-table label {
    font-size: 0.8em;
    font-style: italic;
}

