#extend-settings .form-table td {
    padding:5px 10px;
    vertical-align: middle;
}

#extend-settings .form-table th {
    padding:5px 10px 5px 0;
    vertical-align: middle;

}

#extend-settings .form-table label {
    font-size: 0.8em;
    font-style: italic;
}

.extend_linkedin{
    background-image: url('../../images/linkedin.png');
}

.extend_support{
    background-image: url('../../images/support.png');
}

.extend_linkedin, .extend_support {
    height: 16px;
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 20px;
    text-decoration: none;
    vertical-align: middle;
    display: inline-block;
}